@import "../../styles/variable.scss";

.roadmap {
  & .container {
    margin: auto;
  }

  & h1 {
    text-align: center;
    font-size: 40px;
    color: #555;
    font-weight: 400;
  }
  .roadmap-items {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    & .roadmap-item {
      text-align: center;
      & h3 {
        font-size: 26px;
        color: #555;
        font-weight: 400;
      }

      & p {
        text-align: center;
        color: #555;
        font-size: 18px;
      }
    }
  }
}
