@import "../../styles/variable.scss";

.minter {
  width: 100%;
  background-color: $yellow;
  justify-content: center;

  &-wrapper {
    padding: 64px 0;
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-column-gap: 64px;

    @media (max-width: 768px) {
      grid-template: auto / 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 16px;
    }
  }

  &-title {
    width: 100%;

    @media (max-width: 425px) {
      text-align: center;
    }

    & > span {
      font-size: 48px;
      color: $white;
    }

    & > p {
      color: $black;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-mint {
    width: 100%;

    & > p {
      text-align: center;
      color: $black;
      font-weight: bold;
      font-size: 18px;
    }

    &-wrapper {
      width: 100%;
      align-items: center;

      & > div {
        position: relative;
        width: 90%;
        max-width: 240px;
        margin-top: 16px;
        align-items: center;

        & > input {
          width: 100%;
          border: 0;
          color: $black;
          font-size: 20px;
          font-weight: bold;
          padding: 8px 0;
          text-align: center;
        }

        & > span {
          position: absolute;
          cursor: pointer;
          font-size: 24px;
          font-weight: bold;

          &:first-child {
            left: 16px;
            bottom: 8px;
          }

          &:last-child {
            right: 16px;
          }
        }
      }

      & > button {
        width: 90%;
        max-width: 240px;
        padding: 12px 0;
        font-size: 18px;
        font-weight: bold;
        color: $white;
        background-color: $red;
        border: 0;
        cursor: pointer;
        white-space: nowrap;
        margin-top: 16px;
      }
    }

    &-clock {
      width: 100%;
      display: grid;
      grid-template: auto / 1fr 1fr 1fr 1fr;
      grid-column-gap: 16px;
      width: 320px;
      margin: 0 calc((100% - 320px) / 2);

      &-timer {
        align-items: center;

        & > div {
          width: 100%;
          justify-content: center;
          padding: 0 0 8px;
          font-size: 48px;
          font-weight: bold;
          color: $red;
          background-color: $white;
          display: grid;
          grid-template: auto / 1fr 1fr;

          & > span {
            &:first-child {
              text-align: end;
            }
            &:last-child {
              text-align: start;
            }
          }
        }

        & > span {
          width: 100%;
          text-align: center;
          padding: 4px 0;
          font-size: 14px;
          font-weight: bold;
          color: $white;
          background-color: $red;
        }
      }
    }
  }
}
