@import "../../styles/variable.scss";

.green {
  width: 100%;
  padding: 32px 0;
  background-color: $green;
  justify-content: center;

  &-wrapper {
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column !important;
      align-items: center;
    }
  }

  &-mark {
    max-width: 320px;
    width: 100%;

    & > img {
      width: 100%;
    }
  }

  &-quote {
    width: 100%;
    color: $white;
    align-items: center;
    font-size: 26px;
    margin-left: 64px;

    @media (max-width: 768px) {
      font-size: 24px;
      margin-left: 0px;
      text-align: center;
      padding-bottom: 64px;
    }
  }

  &-divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxNTBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0wIDE0MGgxMjgwQzU3My4wOCAxNDAgMCAwIDAgMHoiLz48L2c+PC9zdmc+);
    background-size: 100% 150px;
    bottom: 0;
    height: 150px;
    z-index: 1;
    margin-top: -149px;
  }
}
