@import "../../styles/variable.scss";

.member {
  width: 100%;
  justify-content: center;

  &-wrapper {
    padding: 24px 0;
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-column-gap: 64px;

    @media (max-width: 768px) {
      grid-template: auto / 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 16px;
    }
  }

  &-left-container {
    width: 100%;
    padding: 10px;

    & p {
      color: #777;
      font-size: 20px;
    }
    & li {
      color: #555;
      font-size: 16px;
    }
    & ul {
      padding-left: 0;
    }
  }

  &-right-container {
    width: 100%;
    padding: 30px calc((100% - 320px) / 2);

    & img {
      width: 100%;
    }

    & .img-well {
      box-shadow: 0px 12px 18px -6px #0000004d;
      padding: 20px;
    }
  }

  .brown-heading {
    background-color: $red;
    text-align: center;
    padding: 10px;
    color: $white;
    font-size: 18px;
  }
  &-left-down-container {
    padding: 0 30px;
  }
}
