@import "../../styles/variable.scss";

.header {
  background-image: url("../../resources/torino-egizio-01.jpg");
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 60px 0;

  &-container {
    max-width: 1080px;
    margin: auto;
  }
  &-up-img-container {
    width: 20%;
    @media screen and (max-width: 1100px) {
      margin: auto;
    }
  }
  &-red-img {
    max-width: 400px;
    max-height: 401px;
    width: 100%;
  }
  &-down-img-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-slick-container {
    width: 30%;

    & img {
      width: 100%;
    }
    @media screen and (max-width: 1100px) {
      margin-bottom: 20px;
      width: 50%;
    }
  }
  &-quote-container {
    width: 58%;
    padding: 10px 20px;
    background-color: $white;
    margin-left: 10%;

    & h1 {
      font-size: 35px;
      color: #333;
    }

    & h3 {
      font-weight: 400;
      color: #333;
      font-size: 22px;
    }

    & p {
      color: #666;
      font-size: 18px;
    }

    @media screen and (max-width: 1100px) {
      width: 50%;
      margin-left: 0;
    }
  }
}
