@import "../../styles/variable.scss";

.header {
  background-image: url("../../resources/torino-egizio-01.jpg");
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  &-container {
    max-width: 1280px;
    margin: auto;
  }
  &-up-img-container {
    width: 15%;
  }
  &-red-img {
    width: 400px;
    height: 401px;
  }
}
