@import "../../styles/variable.scss";

.header {
  width: 100%;
  justify-content: center;
  background-image: url("../../resources/torino-egizio-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 60px 0;

  &-logo {
    width: 100%;
    margin-bottom: 64px;

    & > img {
      width: 240px;
    }
  }

  &-hero {
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column !important;
      align-items: center;
    }
  }

  &-slick {
    width: 320px;

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }

    & img {
      width: 100%;
    }
  }
  &-quote {
    width: 100%;
    padding: 16px 24px;
    background-color: $white;
    margin-left: 64px;

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 0px;
    }

    & > h1 {
      font-size: 36px;
      color: $black;
    }

    & > h3 {
      font-weight: 400;
      color: $black;
      font-size: 22px;
    }

    & p {
      color: #666;
      font-size: 18px;
    }
  }
}
